body {
  font-family: 'Roboto Mono', monospace;
}

.main-container {
  display: flex;
}

.haiku-container {
  background-color: lavender;
  width: 40%;
  height: 100vh;
  /* display: flex; */
  justify-content: center;
}

.haiku-btn-wrap {
  
}